# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Turbo
.turbo

# Misc
.DS_Store
*.log
.vercel

# Database
*.db
*.sqlite

# IDE
.vscode
.idea
*.swp
